<router-outlet></router-outlet>
<div class="container mt-5">
	<div class="row">
		<div class="col top">
			<h2 class="text-center my-5"> {{ name }}'s Todo List</h2>
		</div>

		<!-- create Chore -->
		<div class="col text-center top pt-3">
			<input [(ngModel)]="todoInput">
			<button class="btn btn-danger" (click)="createTodo()">
				Click to see input</button>
		</div>
	</div>
	<!-- Chore  -->
	<div class="row">
		<div class="list-group-item list-group-item-warning container">
			<p *ngFor="let chore of todos">
				<!-- {{chore.name}} -->
				<!-- Completed -->
				<span class="padding">
					<!-- <input class="form-check-input px5" type="checkbox" value="" id="defaultCheck1">  -->
					<!-- Edit -->
					<i class="far fa-edit" (click)="editTodo(chore)"></i>
					<!-- Deletes Chore -->
					<i class="far fa-trash-alt p-3" (click)="deleteTodo(chore)"></i>

					<div class="box">
						<input class="form-check-input p-3" type="checkbox" value="" id="defaultCheck1">
						<label class="strikethrough">{{chore.name}}</label>
					</div>
				</span>
			</p>
			<hr>
		</div>
	</div>
</div>